.dashboard__page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .dashboard__secondary-container {
    display: flex;
    height: 90vh;
    max-width: 100%;

    .dashboard__link-content-container {
      background-color: hsl(0, 0%, 97%);
      display: flex;
      flex-grow: 1;
      padding: min(5%, 3rem);
      min-width: 10rem;
      justify-content: center;
      overflow-y: auto;
    }
  }
}
