// color
$primary-color: #213f7d;
$accent-color: #39cdcc;
$secondary-color: #545f7d;
$danger: #e4033b;
$success: #39cd62;
$warning: #e9b200;
$white-color: #ffffff;

//fonts
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 20px;
$fs-xl: 24px;
$fs-xxl: 40px;
