@import "../../../styles/variables";

.button {
  font-size: $fs-sm;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  border-radius: 6px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}
.red-invert {
  color: $danger;
  background-color: transparent;
  border: 1px solid $danger;
}
.accent-invert {
  color: $accent-color;
  background-color: transparent;
  border: 1px solid $accent-color;
}
.accent {
  color: $white-color;
  background-color: $danger;
  border: 1px solid $danger;
}
.transparent {
  color: $secondary-color;
  background-color: transparent;
  border: 1px solid $secondary-color;
}
