@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"),
    url("./fonts/AvenirNextLTPro-Regular.otf") format("woff");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: local("Avenir Next Bold"),
    url("./fonts/AvenirNextLTPro-Bold.otf") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // font-family: Avenir Next, Poppins, sans-serif;
  font-family: "Poppins";
}
html {
  font-size: 10px;
  // font-size: 62.5%;
}
