@import "../../../styles/variables.scss";
.text-input__container {
  label {
    font-size: $fs-sm;
    color: $secondary-color;
    text-transform: capitalize;
    font-weight: 500;
  }
}
.text-input__input-container {
  margin-top: 0.5rem;
  position: relative;
  width: 100%;
  input {
    width: 100%;
    font-size: $fs-sm;
    padding: 1rem;
    border-radius: 6px;
    outline: none;
    border: 1px solid $secondary-color;

    &::placeholder {
      font-size: $fs-sm;
      color: $secondary-color;
    }
  }
}
